<%= form_with(model: @fish) do |form| %>
  <% if @fish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fish.errors.count, "error") %> prohibited this fish from being saved:</h2>

      <ul>
        <% @fish.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, :value => user.id%>
  
  <%= form.label :title %>
  <%= form.text_field :title %><br>

  <%= form.label :content %>
  <%= form.text_field :content %><br>

  <%= form.label :fish_image, "Upload Image Here" %><br>
  <%= form.file_field :fish_image %><br><br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
